/* Reset tag */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Generic tag rules */

.description > span {
  display: block;
  margin: 5px 0;
}

.heart a {
  text-decoration: none;
  color: black;
}

/* specific class rules */

.row {
  margin: 50px 0;
  width: 100%;
  height: 95vh;
  text-align: center;
}

.card {
  width: 25%;
  height: 100%;
  display: inline-block;
  margin: 0 2%;
  position: relative;
}

.img {
  width: 100%;
  height: 80%;
  position: relative;
}

.front-img {
  width: 100%;
  height: 100%;
  background-color: red;
}

.back-img {
  width: 100%;
  height: 100%;
  background-color: yellow;
  position: absolute;
  top: 0;
  /* z-index: 1; */
  display: none;
}

.description {
  width: 100%;
  height: 20%;
  position: absolute;
  top: 80%;
  text-align: left;
  padding-top: 10px;
}

.img:hover .back-img {
  display: block;
}

.brand,
.model {
  font-size: 18px;
}

.model,
.new-price,
.sale,
.sustainable {
  font-weight: bold;
}

.new-price {
  color: red;
}

.old-price {
  text-decoration: line-through;
}

.img .front-img img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.img .back-img img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.heart {
  position: absolute;
  background-color: white;
  width: 50px;
  height: 50px;
  top: 30px;
  right: 0;
  line-height: 50px;
  font-size: 30px;
}

.heart:hover a {
  color: red;
}

.sale,
.sustainable {
  display: inline-block;
  padding: 3px;
}

.sale {
  background-color: #eb0037;
}

.sustainable {
  background-color: #00875a;
}

.img-labels {
  position: absolute;
  bottom: 30px;
  color: white;
  height: 25px;
  line-height: 25px;
  font-size: 15px;
  width: fit-content;
}
